input/**
A4610D-RX/**
A4610D-TX/**
TX/**
tmp/**
!input/.gitkeep

output/
reports/
node_modules/

*.tgz
*.tar
*.tar.gz
*lm_params_json*
*.bak
*.backup
*~
backup*/
tmp/

__pycache__/
*.pyc
.venv/
.vscode/
